---

################################################################################
#  description: Generate a server report using Ansible
#  usage: ansible-playbook Runner-Ansible-Report-playbook.yml --extra-vars 'EMAIL=SomeEmail@dot.com'
#  author: Ernest G. Wilson II <ErnestGWilsonII@gmail.com> (https://github.com/ernestgwilsonii)
#  license: MIT
################################################################################


# Ansible Playbook options
# REF: http://docs.ansible.com/ansible/playbooks.html
#####################################################

- name: Generate a server report
  hosts: localhost
  gather_facts: False
  connection: local
  tasks:


# file - Sets attributes of files and directories
# http://docs.ansible.com/ansible/file_module.html
##################################################

  - name: Create directory /home/runner/.local/lib/python2.7/site-packages/ansiblecmdb
    file:
      path: /home/runner/.local/lib/python2.7/site-packages/ansiblecmdb
      state: directory
      mode: 0755
      owner: runner
      group: runner


# Temp debug
  - name: curl https://raw.githubusercontent.com/ernestgwilsonii/runner-ansible-report/master/ansiblecmdb/__init__.py --output /home/runner/.local/lib/python2.7/site-packages/ansiblecmdb/__init__.py
    raw: curl https://raw.githubusercontent.com/ernestgwilsonii/runner-ansible-report/master/ansiblecmdb/__init__.py --output /home/runner/.local/lib/python2.7/site-packages/ansiblecmdb/__init__.py
    ignore_errors: yes

  - name: curl https://raw.githubusercontent.com/ernestgwilsonii/runner-ansible-report/master/ansiblecmdb/__init__.pyc --output /home/runner/.local/lib/python2.7/site-packages/ansiblecmdb/__init__.pyc
    raw: curl https://raw.githubusercontent.com/ernestgwilsonii/runner-ansible-report/master/ansiblecmdb/__init__.pyc --output /home/runner/.local/lib/python2.7/site-packages/ansiblecmdb/__init__.pyc
    ignore_errors: yes

  - name: curl https://raw.githubusercontent.com/ernestgwilsonii/runner-ansible-report/master/ansiblecmdb/ansible.py --output /home/runner/.local/lib/python2.7/site-packages/ansiblecmdb/ansible.py
    raw: curl https://raw.githubusercontent.com/ernestgwilsonii/runner-ansible-report/master/ansiblecmdb/ansible.py --output /home/runner/.local/lib/python2.7/site-packages/ansiblecmdb/ansible.py
    ignore_errors: yes

  - name: curl https://raw.githubusercontent.com/ernestgwilsonii/runner-ansible-report/master/ansiblecmdb/ansible.pyc --output /home/runner/.local/lib/python2.7/site-packages/ansiblecmdb/ansible.pyc
    raw: curl https://raw.githubusercontent.com/ernestgwilsonii/runner-ansible-report/master/ansiblecmdb/ansible.pyc --output /home/runner/.local/lib/python2.7/site-packages/ansiblecmdb/ansible.pyc
    ignore_errors: yes

  - name: curl https://raw.githubusercontent.com/ernestgwilsonii/runner-ansible-report/master/ansiblecmdb/parser.py --output /home/runner/.local/lib/python2.7/site-packages/ansiblecmdb/parser.py
    raw: curl https://raw.githubusercontent.com/ernestgwilsonii/runner-ansible-report/master/ansiblecmdb/parser.py --output /home/runner/.local/lib/python2.7/site-packages/ansiblecmdb/parser.py
    ignore_errors: yes

  - name: curl https://raw.githubusercontent.com/ernestgwilsonii/runner-ansible-report/master/ansiblecmdb/parser.pyc --output /home/runner/.local/lib/python2.7/site-packages/ansiblecmdb/parser.pyc
    raw: curl https://raw.githubusercontent.com/ernestgwilsonii/runner-ansible-report/master/ansiblecmdb/parser.pyc --output /home/runner/.local/lib/python2.7/site-packages/ansiblecmdb/parser.pyc
    ignore_errors: yes

  - name: curl https://raw.githubusercontent.com/ernestgwilsonii/runner-ansible-report/master/ansiblecmdb/util.py --output /home/runner/.local/lib/python2.7/site-packages/ansiblecmdb/util.py
    raw: curl https://raw.githubusercontent.com/ernestgwilsonii/runner-ansible-report/master/ansiblecmdb/util.py --output /home/runner/.local/lib/python2.7/site-packages/ansiblecmdb/util.py
    ignore_errors: yes

  - name: curl https://raw.githubusercontent.com/ernestgwilsonii/runner-ansible-report/master/ansiblecmdb/util.pyc --output /home/runner/.local/lib/python2.7/site-packages/ansiblecmdb/util.pyc
    raw: curl https://raw.githubusercontent.com/ernestgwilsonii/runner-ansible-report/master/ansiblecmdb/util.pyc --output /home/runner/.local/lib/python2.7/site-packages/ansiblecmdb/util.pyc
    ignore_errors: yes

  - name: chown -R runner:runer /home/runner/.local/lib/python2.7/site-packages/ansiblecmdb
    raw: chown -R runner:runer /home/runner/.local/lib/python2.7/site-packages/ansiblecmdb
    ignore_errors: yes

  - name: ls -alF /home/runner/.local/lib/python2.7/site-packages/ansiblecmdb
    raw: ls -alF /home/runner/.local/lib/python2.7/site-packages/ansiblecmdb
    ignore_errors: yes


# unarchive - Unpacks an archive after (optionally) copying it from the local machine
# REF: http://docs.ansible.com/ansible/unarchive_module.html
############################################################

  # - name: Install ansiblecmdb
  #   unarchive:
  #     src: https://github.com/ernestgwilsonii/runner-ansible-report/raw/master/ansiblecmdb.tar
  #     dest: /home/runner/.local/lib/python2.7/site-packages/ansiblecmdb
  #     copy: no


# Execute command(s)
# REF: http://docs.ansible.com/ansible/command_module.html
##########################################################

  - name: Generate inventory data
    command: ansible -m setup --tree /tmp/report/ all
    ignore_errors: yes

  - name: ls -alF /tmp/report
    raw: ls -alF /tmp/report
    ignore_errors: yes

  - name: Generate HTML Report
    raw: ansible-cmdb /tmp/report/ > /tmp/report.html 2>/dev/null

  # - name: Generate CSV Report
  #   raw: ansible-cmdb -t csv /tmp/report/ > /tmp/report.csv 2>/dev/null

  # - name: Email the Reports
  #   raw: echo "See attached reports" | mailx -s "Ansible Report" -a /tmp/report.html -a /tmp/report.csv "{{ EMAIL }}"
